# Virtual envs
adversarial/
venv/
env/
ENV/

# Data / outputs
processed_data/
processed_data_np224/
*.h5
*.pt
*.pth

# Bytecode / caches
__pycache__/
*.pyc

# Editor/IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
